/* globals.css */
@import "tailwindcss";

@keyframes grow-plant {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.animate-grow-plant {
  animation: grow-plant 1.5s ease-in-out infinite;
}

@theme {
  --font-chango: var(--font-chango);
  --font-roboto-mono: var(--font-roboto-mono);
  --color-text-default: #696956;
  --background: #c8c9b3;
}

@layer base {
  body {
    font-family: var(--font-roboto-mono);
    background: var(--background);
    color: var(--color-text-default);
  }
}

@layer utilities {
  .font-chango {
    font-family: var(--font-chango);
  }
  .font-roboto-mono {
    font-family: var(--font-roboto-mono);
  }
}
